@import '../../styles/variables.scss';

.save {
  background-color: $color-primary-0;
  padding: $spacing;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto;
  row-gap: $spacing;
  height: 100vh;

  .save-form {
    height: 100%;
    display: grid;
    grid-template-rows: auto;
    row-gap: $spacing;
    overflow: hidden;
  }

  .save-fields {
    background-color: $color-bg-alt;
    padding: $spacing;
    overflow: auto scroll;
  }

  .save-buttons {

  }
}