@import '../../../styles/variables.scss';

.top-menu {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: $spacing;
  row-gap: $spacing;
  align-items: center;
  padding: $spacing;
  height: 100%;

  .menu-button.selected {
    border-radius: $border-radius $border-radius 0 0;
  }

  .menu {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
