@use './base.scss';
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: base.$bg-medium;
  color: base.$fg-light;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 14px;
}

.extension {
  background-color: base.$bg-dark;
  display: flex;
  justify-content: center;
  padding: 0.67em;
}

.card {
  background-color: base.$bg-light;
  border-radius: base.$border-radius;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: base.$fg-dark;
  margin-bottom: 1em;
  padding: 1em;
}

.error {
  color: #f00;
}

.card > *:not(:last-child),
form > *:not(:last-child) {
  margin-bottom: 1em;
}
