@import '../../../styles/variables.scss';

.button {
  border: 0;
  outline: 0;
  background: none;
}

.button {
  $spinner-size: $font-size;

  position: relative;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: $transition-duration;
  transition-property: border-color, background-color, color, width;
  font-family: 'Roboto', sans-serif;
  padding: $spacing;
  border: $border-width solid $color-primary-0;
  background-color: $color-primary-0;
  color: $color-fg-alt;
  cursor: pointer;
  font-weight: bold;
  font-size: $font-size;
  transition: padding-right $transition-duration;

  &.button-loading {
    padding-right: $spacing * 2 + $spinner-size;
  }

  .button-spinner {
    position: absolute;
    right: $spacing;
    margin-left: $spacing;
    width: $spinner-size;
    height: $spinner-size;
    opacity: 0;
    transition: opacity $transition-duration;

    &::after {
      position: absolute;
      content: '';
      border-radius: 100%;
      box-sizing: border-box;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      border: $spinner-size / 6 solid #fff;
      border-top-color: $color-accent-0;
      animation: spin 1s infinite;
      transition: all $transition-duration * 3;
    }
  }

  &.button-loading .button-spinner {
    opacity: 1;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  &:disabled {
    cursor: arrow;
  }

  &:hover:not(:disabled) {
    background-color: $color-bg;
    color: $color-primary-0;
  }

  &:focus:not(:disabled) {
    background-color: $color-bg;
    color: $color-primary-0;
  }

  &:active:not(:disabled) {
    background-color: $color-primary-1;
  }

  &.button-accent {
    background-color: $color-accent-0;
    border-color: $color-accent-0;

    &:hover {
      color: $color-accent-0;
    }

    &:focus {
      color: $color-accent-0;
    }

    &:active {
      background-color: $color-accent-1;
    }
  }

  &.button-warning {
    background-color: $color-warning-0;
    border-color: $color-warning-0;

    &:hover {
      color: $color-warning-0;
    }

    &:focus {
      color: $color-warning-0;
    }

    &:active {
      background-color: $color-warning-1;
    }
  }

  &.button-danger {
    background-color: $color-danger-0;
    border-color: $color-danger-0;

    &:hover {
      color: $color-danger-0;
    }

    &:focus {
      color: $color-danger-0;
    }

    &:active {
      background-color: $color-danger-1;
    }
  }
}
