@import '../../../styles/variables.scss';

.checkbox {
  $size: 20px;
  $border-size: 1px;
  $padding: 2px;
  $inner-size: $size - ($border-size * 2) - ($padding * 2);

  input {
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0;
  }

  .custom-checkbox {
    padding: $padding;
    position: relative;
    border: $border-size solid $color-border;
    border-radius: 2px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1) inset;
    width: $size;
    height: $size;
    cursor: pointer;
    box-sizing: border-box;
  }

  .custom-checkbox::before {
    display: none;
    position: absolute;
    content: '';
    width: $inner-size;
    height: $inner-size;
    background-color: $color-accent-0;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
    border-radius: 2px;
  }

  input:checked ~ .custom-checkbox::before {
    display: block;
  }

  input:hover ~ .custom-checkbox,
  input:active ~ .custom-checkbox,
  input:focus ~ .custom-checkbox {
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1) inset, 0 0 3px 0 rgba(0, 0, 0, 0.1);
  }

  input:hover ~ .custom-checkbox {
    border-color: $color-border-hover;
    background-color: $color-bg-hover;
  }

  input:focus ~ .custom-checkbox {
    border-color: $color-border-focus;
    background-color: $color-bg-hover;
  }

  input:active ~ .custom-checkbox {
    border-color: $color-border;
    background-color: $color-bg-active;
  }
}
