@import '../../../styles/variables.scss';

.message {
  padding: $spacing;
  border: 0 solid $color-accent-0;
  border-left-width: 6px;
  background-color: $color-accent-1;
  color: $color-accent-3;

  &.warning {
    border-color: $color-warning-0;
    background-color: $color-warning-1;
    color: $color-warning-3;
  }

  &.error {
    border-color: $color-danger-0;
    background-color: $color-danger-1;
    color: $color-danger-3;
  }
}
