@import '../../../styles/variables.scss';

.general-options {
  background-color: $color-bg-alt;

  .general-options-form {
    display: grid;
    grid-template-rows: auto;
    row-gap: $spacing;
  }

  .general-options-field {
    &:hover {
      background-color: $color-bg;
    }
  }
}