@import '../../../styles/variables.scss';

.ignore-options {
  background-color: $color-bg-alt;
  display: flex;
  flex-direction: column;

  .ignore-options-article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: $color-bg;

    &:nth-child(odd) {
      background-color: $color-primary-1;
    }

    .ignore-options-host {
      padding: $spacing;
      overflow: hidden;
    }
  }
}