@import '../../../styles/variables.scss';

.site-options {
  background-color: $color-bg-alt;
  display: grid;
  grid-template-rows: auto;
  row-gap: $spacing;

  .site-options-add form {
    display: grid;
    grid-template-rows: auto;
    row-gap: $spacing;
  }

  .site-options-site {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: $color-bg;

    &:nth-child(odd) {
      background-color: $color-primary-1;
    }

    .site-options-host {
      padding: $spacing;
    }
  }
}