@import '../../variables';

.popup-add {
  background-color: $color-bg-alt;
  color: $color-fg;
  border-radius: 0 $border-radius $border-radius $border-radius;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
