@import '../../variables';

.popup {
  .popup-search {
    margin-bottom: $spacing / 2;
    width: 100%;
    display: flex;
  }

  .popup-search-input {
    border: 0;
    width: 100%;
    background-color: $color-primary-1;
    border-bottom: 1px solid $color-primary-0;
    padding: $spacing / 2;
  }

  .popup-search-button {
    border: 0;
    background-color: $color-primary-0;
    border-bottom: 1px solid $color-primary-2;
    color: #fff;
    padding: $spacing / 2;
  }

  .card > *:not(:last-child) {
    margin-bottom: $spacing / 2;
  }
}
