@import '../../variables';

.popup {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 360px;

  header {
    width: 100%;
  }

  .logo {
    margin: auto;
    max-width: 100%;
  }

  .popup-content {
    flex-grow: 1;
  }
}
