@import '../../variables';

.popup {
  display: flex;
  flex-direction: column;
  height: 520px;
  width: 400px;
  background-color: $color-primary-0;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.15));
  color: $color-fg-alt;

  .popup-header {
    display: grid;
    grid-template-rows: auto 1fr;
  }

  .banner {
    display: grid;
    background: none;

    .logo {
      height: $menu-size * 0.8;
      margin: auto;
    }
  };

  .loading-component {
    flex-grow: 1;
  }

  .popup-main {
    height: 100%;
    display: grid;
    grid-template-columns: auto $menu-size;
    grid-column-gap: $spacing;
    margin: 0 $spacing;
    flex-grow: 1;
    overflow: hidden;
  }

  .popup-content {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .popup-search-bar {
    width: 100%;

    .search-bar {
      padding-top: 0;
    }
  }

  .popup-menu {
    > li {
      list-style: none;
    }

    > li:not(:last-child) {
      margin-bottom: $spacing;
    }
  }

  .popup-status {
    display: flex;
    flex-direction: column;
    padding: $spacing;

    .popup-status-error {
      font-weight: bold;
      color: $color-danger-1;
    }
  }
}
