$color-primary-0: #526a78;
$color-primary-1: #f3f7f8;
$color-primary-2: #8a9aa4;
$color-primary-3: #2e424f;
$color-primary-4: #102531;

$color-accent-0: #03a388;
$color-accent-1: #bff8ef;
$color-accent-2: #43c1ac;
$color-accent-3: #006352;
$color-accent-4: #000706;

$color-warning-0: #f59815;
$color-warning-1: #fff3e2;
$color-warning-2: #ffc16a;
$color-warning-3: #b76b00;
$color-warning-4: #754500;

$color-danger-0: #c5283e;
$color-danger-1: #fdd2d8;
$color-danger-2: #f27183;
$color-danger-3: #7e0314;
$color-danger-4: #120003;
