input,
select,
textarea,
fieldset {
  border: 0;
  outline: 0;
  background: none;
  transition: $transition-duration;
  transition-property: border-color, background-color, color;
  font-family: 'Roboto', sans-serif;
  background-color: $color-bg;
  color: $color-fg;
  padding: $spacing;
  transition-duration: $transition-duration;
  transition-property: background-color, color, border-color;
  font-size: 1em;

  &::placeholder {
    font-size: 1rem;
  }

  &:disabled {
    cursor: default;
  }
}

label {
  color: $color-primary-0;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9em;
  text-transform: uppercase;
  user-select: none;
}

.label-disabled {
  color: $color-fg-disabled;
  background-color: $color-bg-disabled;

  input,
  input:hover,
  input:focus,
  input:active {
    background-color: $color-bg-input-disabled;
    border-color: $color-border-input-disabled;
    color: $color-fg-input-disabled;
  }
}

.label-altered {
  color: $color-warning-3;
}

.label-inline {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;

  > :first-child {
    margin-right: $spacing;
  }
}

input {
  border: 0;
  border-bottom: $border-width solid $color-border;

  &:focus {
    border-bottom-color: $color-border-focus;
  }

  &:active {
    border-bottom-color: $color-border;
  }
}

