@import './colors';

$font-size: 12pt;
$font-main: 'Roboto', sans-serif;
$font-alt: 'Montserrat', sans-serif;

$spacing: 8px;
$border-radius: $spacing;
$border-width: 1px;
$transition-duration: 0.1s;
$mobile-size: 520px;

$menu-size: 40px;

$arrow-width: 8px;
$arrow-height: $arrow-width * 0.625;
%arrow {
  border: solid transparent;
  border-top-color: $color-primary-3;
  border-width: $arrow-width $arrow-height;
  box-sizing: border-box;
  content: '';
  height: $arrow-width * 2;
  margin-top: -0.2em;
  position: absolute;
  right: $spacing;
  top: 50%;
  transform-origin: $arrow-width / 2 $arrow-height / 2;
  width: $arrow-height * 2;
  pointer-events: none;
}
