@import '../../variables';

.collapse-box {
  .collapse-box-title {
    position: relative;
    overflow: auto;
    border: 0;
    border-left: 4px solid $color-primary-0;
    background-color: $color-primary-1;
    cursor: pointer;
    transition: border-left-width $transition-duration ease-out;
  }

  .collapse-box-title {
    padding: $spacing;
  }

  .collapse-box-title::after {
    @extend %arrow;
    transition: transform $transition-duration ease-out;
  }

  .collapse-box-children {
    border: 0 solid $color-primary-0;
    border-width: 0 0 0 2px;
    margin-left: 2px;
  }

  .collapse-box-children.padded {
    padding: $spacing / 2;
  }
}

.collapse-box.collapsed {
  .collapse-box-title::after {
    transform: rotate(90deg);
  }

  .collapse-box-title {
    border-left-width: 3px;
  }
}
