@import '../../variables';

.collapse-list-item {
  background-color: $color-bg;

  &.padded {
    padding: $spacing;
  }

  &:nth-child(even) {
    background-color: $color-bg-alt;
  }

  &:last-child {
    border-bottom: 1px solid $color-bg;
  }
}
