@import '../../variables';

.loading-spinner {
  position: relative;
  height: 3em;
  width: 3em;
  margin: auto;
}

.spinner {
  &::after,
  &::before {
    border: 0.2em solid transparent;
    border-radius: 100%;
    border-top-color: $color-accent-0;
    box-sizing: border-box;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &::before {
    animation: spin 1s infinite;
    transition: all $transition-duration*3;
    z-index: 100;
  }

  &::after {
    background-image: url('../../../graphics/padlock.svg');
    background-size: contain;
    border-color: $color-primary-1;
    transition: all $transition-duration*3;
  }

  &.error::before,
  &.warning::before,
  &.success::before {
    animation: none;
    border: 0;
  }

  &.error::after {
    background-image: url('../../../graphics/padlock-error.svg');
    border-color: $color-error-0;
  }

  &.warning::after {
    background-image: url('../../../graphics/padlock-warning.svg');
    border-color: $color-warning-0;
  }

  &.success::after {
    background-image: url('../../../graphics/padlock-unlocked.svg');
    border-color: $color-accent-0;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
