@import '../../variables';

.menu-item {
  .menu-item-title {
    position: relative;
    overflow: auto;
    border-radius: $border-radius $border-radius 0 $border-radius;
    border: 0;
    border-left: 4px solid $color-primary-0;
    background-color: $color-primary-1;
    cursor: pointer;
    transition: border-left-width $transition-duration ease-out;
  }

  .menu-item-title {
    padding: $spacing;
  }

  .menu-item-title::after {
    @extend %arrow;
    transition: transform $transition-duration ease-out;
  }

  .menu-item-children {
    border: 0 solid $color-primary-0;
    border-width: 0 0 0 2px;
    margin-left: 2px;
  }

  .menu-item-children.padded {
    padding: $spacing / 2;
  }
}

.menu-item.collapsed {
  .menu-item-title::after {
    transform: rotate(90deg);
  }

  .menu-item-title {
    border-left-width: 3px;
  }
}
