@import '../../variables';

.online-indicator {
  width: 0.8em;
  height: 0.8em;
  border-radius: 100%;
  transition: $transition-duration*3;
  transition-property: background-color, box-shadow;
  margin: 0.5em;

  &.online {
    background-color: $color-accent-0;
    box-shadow: 0 0 0.2em 0.2em $color-accent-1, 0 0 0.1em 0.1em rgba(0, 0, 0, 0.1) inset;
  }

  &.offline {
    background-color: $color-error-0;
    box-shadow: 0 0 0.2em 0.2em $color-error-1, 0 0 0.1em 0.1em rgba(0, 0, 0, 0.1) inset;
  }
}
