@import '../../../variables';

.search-bar {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  padding: $spacing;

  &.disabled {
    visibility: hidden;
  }

  .search-bar-input {
    flex-grow: 1;
    height: 64px - $spacing * 2;
    background: $color-primary-3;
    color: $color-fg-alt;
    border-bottom-color: $color-primary-4;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

    &:focus {
      border-bottom-color: $color-accent-0;
    }
  }

  .search-bar-button {
    border: 0;
    outline: 0;
    background-color: $color-accent-0;
    cursor: pointer;
    height: $menu-size;
    width: $menu-size;
    border-radius: 0 $border-radius $border-radius 0;
    padding: $spacing;
    transition: $transition-duration;
    transition-property: background-color;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

    &:hover,
    &:focus,
    &.selected {
      background-color: $color-bg;
    }

    > svg {
      height: 100%;
      width: 100%;
      transition: fill $transition-duration;
      fill: $color-fg-alt;
    }

    &:hover > svg,
    &:focus > svg,
    &.selected > svg {
      fill: $color-accent-0;
    }
  }
}
