@import '../../../variables';

.login {
  background-color: $color-bg-alt;
  padding: $spacing;
  height: 100%;
  color: $color-fg;
  overflow: hidden auto;

  .form {
    display: flex;
    flex-direction: column;
  }

  label {
    display: flex;
    flex-direction: column;
  }

  label,
  .button,
  .message {
    &:not(:last-child) {
      margin-bottom: $spacing;
    }
  }

  .label-checkbox {
    flex-direction: row;
    justify-content: space-between;
  }
}

