@import '../../../variables';

.login {
  display: grid;
  grid-template-rows: 1fr auto;
  background-color: $color-bg-alt;
  height: 100%;
  color: $color-fg;
  border-radius: 0 $border-radius $border-radius 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden auto;

  .login-form {
    padding: $spacing;
    overflow: hidden auto;
  }

  .form {
    display: flex;
    flex-direction: column;
  }

  label {
    display: flex;
    flex-direction: column;
  }

  label,
  .button,
  .message {
    &:not(:last-child) {
      margin-bottom: $spacing;
    }
  }

  .label-checkbox {
    flex-direction: row;
    justify-content: space-between;
  }
}

