@import '../../../styles/variables.scss';

.save-object {
  height: 100vh;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto;
  row-gap: $spacing;

  .save-object-form {
    height: 100%;
    display: grid;
    grid-template-rows: auto;
    row-gap: $spacing;
    overflow: hidden;
  }

  .save-object-fields {
    background-color: $color-bg-alt;
    padding: $spacing;
    overflow: auto scroll;
  }

  .save-object-buttons {

  }
}