@import '../../../variables';

.field-label {
  text-transform: uppercase;
  user-select: none;
}

.field-control {
  border: 0;
  border-bottom: 2px solid $border;
  padding: $input-spacing;
  box-sizing: border-box;
  outline: 0;
  width: 100%;
  transition: $transition-duration;

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  }

  &:hover {
    border-color: $border-hover;
    background-color: $bg-hover;
  }

  &:focus {
    border-color: $border-focus;
    background-color: $bg-focus;
  }
}

.field {
  label,
  input,
  textarea,
  select,
  option,
  button {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
  }
}
