@import '../../../variables';

.field-select .field-control {
  -moz-appearance: none; // stylelint-disable-line
  -webkit-appearance: none; // stylelint-disable-line
  appearance: none;
  padding-right: $spacing * 2 + 0.5;
  width: 100%;

  border: 2px solid $border;
  border-radius: $border-radius;
  background-color: $bg;
  color: $fg;
  font-weight: 800;

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  }

  &:hover {
    border-color: $border-hover;
    background-color: $bg-hover;
  }

  &:focus {
    border-color: $border-focus;
    background-color: $bg-focus;
  }

  &:active {
    border-color: $border-active;
    background-color: $bg-active;
  }

  option {
    background: $bg;
    color: $fg;
  }
}

.custom-select {
  position: relative;

  &::after {
    border: solid transparent;
    border-top-color: $fg;
    border-width: 0.4em 0.25em;
    box-sizing: border-box;
    content: '';
    height: 0.8em;
    margin-top: -0.2em;
    position: absolute;
    right: 0.75em;
    top: 50%;
    transition: $transition-duration;
    width: 0.5em;
    pointer-events: none;
  }
}
