@import '../../../styles/variables.scss';

.add-object {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto;
  row-gap: $spacing;

  .add-object-form {
    display: grid;
    grid-template-rows: auto;
    row-gap: $spacing;
  }
}