@import '../../../styles/variables.scss';

.object-view {
  height: 100%;
  overflow: hidden auto;
  max-height: 100%;

  .object-view-container {
    overflow: hidden auto;
    max-height: 100%;
  }

  .object-view-host {
    text-align: center;
    color: $color-primary-0;
  }

  .object-view-field {
    padding: $spacing;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: background-color $transition-duration;

    &:hover {
      background-color: $color-primary-1;
    }

    &:hover .object-view-field-copy {
      opacity: 1;
    }
  }

  .object-view-fill {
    width: 100%;
  }

  .object-view-field-text {
    display: flex;
    flex-direction: column;
  }

  .object-view-field-copy {
    padding: $spacing;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0;
    outline: 0;
    background: transparent;
    color: $color-accent-0;
    font-weight: bold;
    cursor: pointer;
    transition: $transition-duration;
    transition-property: opacity, background-color, color;
    opacity: 0;

    &:active {
      background-color: $color-accent-0;
      color: $color-fg-alt;
    }
  }

  .field-title {
    font-size: 0.8em;
    color: $color-primary-0;
  }

  .field-value .number {
    color: $color-number;
  }

  .field-value .uppercase {
    color: $color-uppercase;
    font-weight: bold;
  }

  .field-value .lowercase {
    color: $color-lowercase;
  }

  .field-value .symbol {
    color: $color-symbol;
  }

  .field-value .show {
    border: 0;
    outline: 0;
    background: none;
    color: $color-danger-0;
    cursor: pointer;
    font-size: 1em;
    font-weight: normal;
    padding: 0 inherit 0 0;
  }
}
