@import '../../variables';

.session-manager-site {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: $spacing / 2;
  background-color: $color-primary-1;
  border-radius: $border-radius;
  border-left: 4px solid $color-primary-0;

  .field.field-button {
    margin-bottom: 0;
  }

  .field.field-button .field-container {
    padding: $spacing / 4;
  }
}

.session-manager-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
