@import '../../../variables';

.loading-spinner {
  $size: 3em;

  position: relative;
  height: $size;
  width: $size;
  margin: auto;

  .spinner {
    &::after,
    &::before {
      position: absolute;
      content: '';
      border-radius: 100%;
      box-sizing: border-box;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
    }

    &::after {
      border: 0.3em solid #fff;
      border-top-color: $color-accent-0;
      animation: spin 1s infinite;
      transition: all $transition-duration*3;
      z-index: 100;
    }

    &::before {
      background-image: url('../../../graphics/padlock.svg');
      background-size: contain;
      border: 0;
      transition: all $transition-duration*3;
    }

    &.error::after,
    &.warning::after,
    &.success::after {
      animation: none;
      border: 0;
    }

    &.error::before {
      background-image: url('../../../graphics/padlock-error.svg');
      border-color: $color-danger-0;
    }

    &.warning::before {
      background-image: url('../../../graphics/padlock-warning.svg');
      border-color: $color-warning-0;
    }

    &.success::before {
      background-image: url('../../../graphics/padlock-unlocked.svg');
      border-color: $color-accent-0;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
