@import '../../../variables';

.select {
  .custom-select select {
    -moz-appearance: none; // stylelint-disable-line
    -webkit-appearance: none; // stylelint-disable-line
    appearance: none;
    padding-right: $spacing * 2 + $arrow-width;
    width: 100%;
    border: $border-width solid $color-border;
    cursor: pointer;
    transition: border-color $transition-duration;

    &:hover {
      border-color: $color-border-hover;
    }

    &:focus {
      border-color: $color-border-focus;
    }
  }

  .custom-select {
    position: relative;
    width: 100%;
  }

  .custom-select::after {
    @extend %arrow;
    transition: $transition-duration;
  }
}
