@import '../../styles/variables.scss';

.fill {
  background-color: $color-primary-0;
  padding: $spacing;
  box-sizing: border-box;
  width: 300px;

  .fill-info {
    margin-bottom: $spacing;
    padding: $spacing;
    background-color: $color-bg-alt;
  }

  .fill-buttons {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: $spacing;
    padding: $spacing;
    background-color: $color-bg-alt;
  }

  .fill-option {
    background: $color-bg;
    color: $color-fg;
    border: 0;
    outline: 0;
    text-align: left;
    border-bottom: 1px solid transparent;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
      border-bottom: 1px solid $color-accent-0;
    }
  }
}