@import '../../../styles/variables.scss';

.login {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;
  overflow: hidden auto;

  .login-form {
    overflow: hidden auto;
  }

  .form {
    display: flex;
    flex-direction: column;
  }

  label,
  .button,
  .message {
    &:not(:last-child) {
      margin-bottom: $spacing;
    }
  }

  .message {
    margin-top: $spacing;
  }

  .label-inline {
    justify-content: space-between;
  }
}
