@import '../../variables';

.add-object {
  display: flex;
  flex-direction: column;
  padding: $spacing;
  overflow: hidden auto;
  height: 100%;

  .add-object-form {
    display: flex;
    flex-direction: column;
  }

  .add-object-field {
    display: flex;
    flex-direction: column;
  }
}
