@import '../../variables';

.search-results {
  overflow: hidden auto;
  flex-grow: 1;

  .search-results-url {
    text-align: center;
    font-weight: bold;
    color: $color-primary-0;
    padding: $spacing;

    .searching {
      margin-left: $spacing;
      position: absolute;
      width: $font-size;
      height: $font-size;
    }

    .searching::after {
      position: absolute;
      content: '';
      border-radius: 100%;
      box-sizing: border-box;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      border: $font-size / 6 solid #fff;
      border-top-color: $color-accent-0;
      animation: spin 1s infinite;
      transition: all $transition-duration*3;
    }
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  .search-result {
    background: no-repeat $spacing center / 30px 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $color-bg;
    padding: $spacing;
    padding-left: $spacing * 2 + 30px;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: $spacing;
    }

    .search-result-text {
      display: flex;
      flex-direction: column;
    }
  }

  .search-result.selected {
    background-color: $color-primary-3;
    color: $color-fg-alt;
  }
}
