@import '../../../styles/variables';

.session-status {
  display: grid;
  grid-row-gap: $spacing;

  .warnings-title {
    color: $color-warning-0;
  }

  .errors-title {
    color: $color-danger-0;
  }

  .button {
    width: 100%;
  }
}

