@import '../src/styles/variables.scss';

.story-section {
  margin: 4*$spacing auto;
  width: 80vw;
}

.story-article {
  padding: $spacing;
  margin-bottom: $spacing;
  background-color: $color-bg-alt;

  > * {
    margin-bottom: $spacing;
  }
}

