@import '../../variables';

.general-settings {
  .general-settings-article {
    .general-settings-form {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      width: 100%;
      padding: $spacing;
    }

    .general-settings-input {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-column-gap: $spacing;
      align-items: center;
    }

    label {
      margin-bottom: $spacing;
    }
  }
}

@media (min-width: $mobile-size) {
  // Non-mobile specific
}

