@import '../../variables';

.options {
  .options-content {
    max-width: 800px;
    margin: auto;
    padding: $spacing;
    transition: padding $transition-duration;
  }

  .options-article {
    .options-article-header,
    .options-article-footer {
      padding: $spacing * 2;
      border-bottom: 1px solid $color-border;
    }
  }
}

@media (min-width: 600px) {
  .options {
    .options-content {
      padding: $spacing * 4;
    }
  }
}

