@import '../../variables';

.sites {
  .sites-article {
    .sites-article-header {
      padding: $spacing $spacing * 2;
      background-color: $color-primary-1;
      color: $color-primary-0;
    }
  }

  .sites-list {
    > li {
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: space-between;
      justify-content: space-between;
      padding-left: $spacing * 2;
    }

    > li:nth-child(odd) {
      background-color: $color-bg-hover;
    }

    span {
      padding: $spacing;
    }
  }

  .sites-add {
    .sites-add-form {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      width: 100%;
      padding: $spacing;
    }

    label:not(:last-child),
    .button:not(:last-child),
    .message:not(:last-child) {
      margin-bottom: $spacing;
    }

    input {
      width: 100%;
    }
  }
}

@media (min-width: 600px) {
  .sites {
    .sites-article {
      .sites-article-header {
        min-width: max-content;
      }
    }

    .sites-add {
      display: flex;
      flex-direction: row;
    }
  }
}

