$color-primary-0: #526a78;
$color-primary-1: #f3f7f8;
$color-primary-2: #8a9aa4;
$color-primary-3: #2e424f;
$color-primary-4: #102531;

$color-accent-0: #03a388;
$color-accent-1: #bff8ef;
$color-accent-2: #43c1ac;
$color-accent-3: #006352;
$color-accent-4: #000706;

$color-warning-0: #f59815;
$color-warning-1: #fff3e2;
$color-warning-2: #ffc16a;
$color-warning-3: #b76b00;
$color-warning-4: #754500;

$color-danger-0: #c5283e;
$color-danger-1: #fdd2d8;
$color-danger-2: #f27183;
$color-danger-3: #7e0314;
$color-danger-4: #120003;

$color-border: #d4d7d8;
$color-border-hover: #c7cacc;
$color-border-focus: $color-accent-0;
$color-border-active: #028c73;

$color-bg: #fff;
$color-bg-alt: #f9f9f9;
$color-bg-alt-2: #d4d7d9;
$color-bg-hover: #f9fbfc;
$color-bg-focus: #f4f7f9;
$color-bg-active: #ebeef0;
$color-bg-banner: $color-primary-0;
$color-bg-body: #f2f2f2;

$color-fg: #232d33;
$color-fg-alt: #fff;

$color-bg-disabled: $color-bg-alt;
$color-border-disabled: $color-border;
$color-fg-disabled: #ad9f9f;
$color-bg-input-disabled: $color-bg-disabled;
$color-fg-input-disabled: $color-fg-disabled;
$color-border-input-disabled: $color-border-disabled;

$color-number: $color-danger-0;
$color-symbol: $color-warning-0;
$color-uppercase: $color-accent-0;
$color-lowercase: $color-primary-0;

$font-size: 12pt;
$font-main: 'Roboto', sans-serif;
$font-alt: 'Montserrat', sans-serif;

$spacing: 8px;
$border-radius: $spacing;
$border-width: 1px;
$transition-duration: 0.1s;
$mobile-size: 520px;

$menu-size: 40px;

$arrow-width: 8px;
$arrow-height: $arrow-width * 0.625;
%arrow {
  border: solid transparent;
  border-top-color: $color-primary-0;
  border-width: $arrow-width $arrow-height;
  box-sizing: border-box;
  content: '';
  height: $arrow-width * 2;
  margin-top: -0.2em;
  position: absolute;
  right: $spacing;
  top: 50%;
  transform-origin: $arrow-width / 2 $arrow-height / 2;
  width: $arrow-height * 2;
  pointer-events: none;
}

%card {
  background-color: $color-bg-alt;
  color: $color-fg;
  border-radius: $border-radius;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
}
